.symbol {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: relative;
  border: none;
  cursor: pointer;
}

.no-symbol {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: #00000022;
}

.symbol img {
  width: 80%;
  cursor: pointer;
}

.symbol::before {
  content: "";
  width: 105px;
  height: 105px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  border-bottom: 5px solid #00000033;
  box-sizing: border-box;
}

.symbol.paper::before {
  background: var(--paper-gradient);
}

.symbol.scissors::before {
  background: var(--scissors-gradient);
}

.symbol.rock::before {
  background: var(--rock-gradient);
}

/* grid-area for grid in game component */
.symbol.paper {
  grid-area: paper;
}

.symbol.scissors {
  grid-area: scissors;
}

.symbol.rock {
  grid-area: rock;
}

@media (min-width: 1024px) {
  .symbol {
    width: 120px;
    height: 120px;
  }

  .symbol::before {
    width: 150px;
    height: 150px;
  }

  .no-symbol {
    width: 120px;
    height: 120px;
  }

  .game .symbol.rock {
    margin-top: 4rem;
    /* background-color: red; */
  }
}
